<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">

                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="%%MLSC_URL%%"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item"><a href="/index.php">Home</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                %%PAGE_HTML%%


            </div>
        </div>
    </div>
</div>